<!DOCTYPE HTML>
<html lang="es-419">
	<head>
		<title>Sit Èd Imigran an</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'app/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'app/assets/css/noscript.css' %}" /></noscript>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="is-preload">
			<div id="wrapper">
					<header id="header">
						<div class="logo">
							{% load static %}
							<img class="img-fluid" src="{% static 'app/img/logo1.png' %}" alt="Logo">
						</div>
						<div>	<h1>Byenveni nan InfoMigrantes!</h1>
						</div>
						<div><a href="{% url 'indexc' %}"><img class="img-fluid" src="{% static 'app/img/haiti.png' %}" alt="haiti"></a>
							<a href="{% url 'indexi' %}"><img class="img-fluid" src="{% static 'app/img/ingles.png' %}" alt="ingles"></a>
							<a href="{% url 'index' %}"><img class="img-fluid" src="{% static 'app/img/espanol.png' %}" alt="español"></a>
						</div>
						<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
						<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
						<nav>
							<ul>
								{% if user.is_authenticated %}
							<li>
								<a style="text-decoration:none;color: white;" href="{% url 'menu' %}">Ale Nan Sistèm Lan</a>
							</li>
							{% else %}
							<li>
								<a style="text-decoration:none;color: white;" href="{% url 'login' %}">Ouvri Sesyon An</a>
							</li>
							{% endif %}
							</ul>
						</nav>							
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
							  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
							  <div class="carousel-item active">
								{% load static %}
								<img class="img-fluid" src="{% static 'app/img/colombianos.jpg' %}" alt="Primer slide">
							  </div>
							  <div class="carousel-item">
								{% load static %}
								<img class="img-fluid" src="{% static 'app/img/peruanos.jpg' %}" alt="Segundo slide">
							  </div>
							  <div class="carousel-item">
								{% load static %}
								<img class="img-fluid" src="{% static 'app/img/venezolanos.jpg' %}" alt="Tercer slide">
							  </div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							  <span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							  <span class="carousel-control-next-icon" aria-hidden="true"></span>
							  <span class="sr-only">Next</span>
							</a>
						  </div>
						<nav>
							<ul>
								<li><a style="text-decoration:none;color: white;" href="{% url 'indexc' %}">Kòmanse</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'galeriac' %}">Galeri</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'quienesc' %}">Sou Nou</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'contacto' %}">Kontakte</a></li>
							</ul>
						</nav>
					</header>
					<div>
						<P> </p>
							<article id="intro">
								<h2>Entwodiksyon</h2>
								<p> </p>
								<p>Byenveni nan sit frè nou yo. Sit sa a te fèt pou kapab sipòte ak gide ou nan pwosedi imigrasyon ou yo. </p>
								<p>Anplis de sa nan gen enfòmasyon sou sit sa yo ki pi enpòtan, nou pral rekòmande kèk rezo sipò fasilite entegrasyon</p>
								<p>ou pandan w ap nan peyi nou an. Epitou si ou bezwen nou ede ou sonje dat yo nan pwosedi enpòtan ou, nou gen yon sèvis</p>
								<p>ki nan moman enskripsyon an, yon panèl kontwòl pèsonalize yo pral pèmèt, selon bezwen ou yo ak ki kalite pwosedi w ap</p>
								<p>pote soti, sit la pral jenere alèt yo dat ki nesesè yo ak dat limit yo.</p>
								<P> </p>
							</article>
							<P> </p>
							<article id="intro">
								<h2>Nan sit nou an ou ka:</h2>
								<p> </p>
								<li>Gen enfòmasyon sou gwoup ak rezo sipò imigran ki abite nan peyi nou an.</li>
								<li>Revize dokiman ki nesesè pou pwosesis imigrasyon an.</li>
								<li>Lè ou enskri, ou ka enskri pwosedi yo ak dokiman ke ou deja pare.</li>
								<li>Si ou bezwen kontakte san enskripsyon ou ka ranpli fòm nou an.</li>
								<li>Tcheke galri nou an ak imaj nouvèl ak divès kalite imigran</li>
								<P> </p>
								<p>Mèsi pou vizite nou e nou espere ke yo pral nan èd oswa sipò pou ou!</p>
							</article>
					</div>
					<P> </p>
					<footer id="footer">
						<p>Sit Èd Imigran an - 2020</p>
					</footer>
			</div>
			<div id="bg"></div>
			{% load static %}
			<script src="{% static 'app/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'app/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'app/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'app/assets/js/util.js' %}"></script>
			<script src="{% static 'app/assets/js/main.js' %}"></script>
	</body>
</html>