<!DOCTYPE HTML>
<html lang="es-419">
	<head>
		<title>Immigrant Assistance Site</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'app/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'app/assets/css/noscript.css' %}" /></noscript>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="is-preload">
			<div id="wrapper">
					<header id="header">
						<div class="logo">
							{% load static %}
							<img class="img-fluid" src="{% static 'app/img/logo1.png' %}" alt="Logo">
						</div>
						<div>	<h1>Welcome to InfoMigrantes!</h1>
						</div>
						<div><a href="{% url 'indexc' %}"><img class="img-fluid" src="{% static 'app/img/haiti.png' %}" alt="haiti"></a>
							<a href="{% url 'indexi' %}"><img class="img-fluid" src="{% static 'app/img/ingles.png' %}" alt="ingles"></a>
							<a href="{% url 'index' %}"><img class="img-fluid" src="{% static 'app/img/espanol.png' %}" alt="español"></a>
						</div>
						<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
						<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
						<nav>
							<ul>
								{% if user.is_authenticated %}
							<li>
								<a style="text-decoration:none;color: white;" href="{% url 'menu' %}">Go to System</a>
							</li>
							{% else %}
							<li>
								<a style="text-decoration:none;color: white;" href="{% url 'login' %}">Login</a>
							</li>
							{% endif %}
							</ul>
						</nav>							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
							  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
							  <div class="carousel-item active">
								{% load static %}
								<img class="img-fluid" src="{% static 'app/img/colombianos.jpg' %}" alt="Primer slide">
							  </div>
							  <div class="carousel-item">
								{% load static %}
								<img class="img-fluid" src="{% static 'app/img/peruanos.jpg' %}" alt="Segundo slide">
							  </div>
							  <div class="carousel-item">
								{% load static %}
								<img class="img-fluid" src="{% static 'app/img/venezolanos.jpg' %}" alt="Tercer slide">
							  </div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							  <span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							  <span class="carousel-control-next-icon" aria-hidden="true"></span>
							  <span class="sr-only">Next</span>
							</a>
						  </div>
						<nav>
							<ul>
								<li><a style="text-decoration:none;color: white;" href="{% url 'indexi' %}">Home</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'galeriai' %}">Gallery</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'quienesi' %}">Who We Are</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'contacto' %}">Contact</a></li>
							</ul>
						</nav>
					</header>
					<div>
						<P> </p>
							<article id="intro">
								<h2>Introduction</h2>
								<p> </p>
								<p>Welcome to our site, brothers. This site was designed to support and guide you in your immigration proceedings.</p>
								<p>Besides having information about the most important sites, we will recommend some support networks to facilitate your</p> 
								<p>integration while you are in our country. Also if you need us to help you remember the dates of your important procedures,</p>
								<p>we have a service that at the time of registration, will enable a custom control panel, according to your needs and the</p>
								<p>type of procedure you are doing, the site will generate alerts to the dates and deadlines.</p>
								<P> </p>
							</article>
							<P> </p>
								<article id="intro">
									<h2>Inside our site you will be able to:</h2>
									<p> </p>
									<li>To have information about groups and support networks of immigrants living in our country.</li>
									<li>Review the documentation required for the migration process.</li>
									<li>When you register, you will be able to register the procedures and documents that you already have ready.</li>
									<li>If you need to contact us without registering you can fill out our form.</li>
									<li>Check out our gallery with news images and various immigrant groups</li>
									<P> </p>
									<p>Thank you for visiting us and we hope to be a help or support for you!</p>
								</article>
					</div>
					<P> </p>
					<footer id="footer">
						<p>Immigrant Assistance Site - 2020</p>
					</footer>
			</div>
			<div id="bg"></div>
			{% load static %}
			<script src="{% static 'app/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'app/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'app/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'app/assets/js/util.js' %}"></script>
			<script src="{% static 'app/assets/js/main.js' %}"></script>
	</body>
</html>