<!DOCTYPE HTML>
<html lang="es-419">
	<head>
		<title>Sitio de Ayuda Para Inmigrantes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'app/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'app/assets/css/noscript.css' %}" /></noscript>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script type="text/javascript">  
			function googleTranslateElementInit() {  
				new google.translate.TranslateElement( 
					{pageLanguage: 'es'},  
					'google_translate_element' 
				);  
			}  
		</script>  
		<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</head>
	<body class="is-preload">
		<div id="google_translate_element"></div>   	
			<div id="wrapper">
					<header id="header">
						<div>
							{% load static %}
							<img class="img-fluid" src="{% static 'app/img/migration.png' %}" alt="Logo">
						</div>
						<div>	<h1>Usuarios del Sistema</h1>
						</div>
						<nav>
							<ul>
								<li><a style="text-decoration:none;color: white;" href="{% url 'agregar' %}">Agregar</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'listar' %}">Listar</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'modlista' %}">Modificar</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'elimlista' %}">Eliminar</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'weather' %}">Panel Clima</a></li>
								<li><a style="text-decoration:none;color: white;" href="{% url 'index' %}">Inicio</a></li>
								{% if user.is_authenticated %}
								<li>
									<a href="{% url 'logout' %}">cerrar sesión</a>
								</li>
								{% endif %}
							</ul>
						</nav>
					</header>
					<footer id="footer">
						<p>Sitio de Ayuda para Inmigrantes - 2020</p>
					</footer>
			</div>
			<div id="bg"></div>
			{% load static %}
			<script src="{% static 'app/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'app/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'app/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'app/assets/js/util.js' %}"></script>
			<script src="{% static 'app/assets/js/main.js' %}"></script>
	</body>
</html>