<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/a28965539f.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/assets/css/estilos2.css' %}">
    <title>Modificar Usuarios</title>    

</head>
<body>
    {% load static %}
    <p><a href="{% url 'menu' %}" ><img src="{% static 'app/img/back.png' %}" alt="volver"></a> Volver</p>
    <div class="contenedor">
        <header>
            <div class="logo">
                <div class="imagen">
                    {% load static %}
                    <a href="{% url 'menu' %}"><img src="{% static 'app/img/logo.png' %}" class="responsive"  alt="Logo"></a>
                </div>
                <p>Modificar Usuarios</p>       
            </div>                 
        </header>


                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-body">
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form }}
                            <div class="d-flex justify-content-end">
                                <input type="reset" value="Cancelar" class="btn btn-secondary">
                                &nbsp;
                                <input type="submit" value="Modificar" class="btn btn-primary">
                            </div>
                        </form>
                        {{mensaje}}
                    </div>
                </div>

            </div>
        </div>

    </div>

    {% load static %}
    <script src="{% static 'app/assets/js/main2.js' %}"></script>
</body>
</html>